.auth-page {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-choose-role {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-choose-role-btns {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth-form-wrapper {
    width: 500px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sign-up-form-wrapper {
    width: 700px;
}

.auth-form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-form-title {
    font-size: 44px;
}

.field-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-btn {
    width: 100%;
    margin-top: 10px;
}
